httptools==0.6.4
langchain-chroma==0.2.4
langchain-community==0.3.27
langchain-upstage==0.6.0
pip==25.1.1
redis==6.2.0
setuptools==65.5.0
streamlit==1.46.1
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
